/* Red */
$email-light-red: #FF9F9C;
$email-red: #FE3332;

/* Orange */

/* Yellow */

/* Green */

/* Blue */
$linkedin-light-blue: #90BBDB;
$linkedin-blue: #0077B5;
$resume-turqoise: #3BBFCB;

/* Purple */

/* White */
$background-white: #fafafa;
$overlay-white: #ffffffb5;

/* Grey */
$overlay-grey: #a7a7a775;

/* Black */
$black: #000000;
$background-black: #2e2e2e;
$github-light: #808080;
$button-active-black: #6b6b6b;
$button-grey: #efefef85;

/* Brown */