/* Red */
$red: #BD5451;

/* Orange */
$orange: #E39255;
$dark-orange: #D7833C;

/* Yellow */
$yellow: #EED66F;
$dirty-yellow: #DEC16C;

/* Green */
$light-green: #84C08A;
$vibrant-green: #54AB67;
$green: #6CB876;
$green-grey: #587F5A;
$dark-green: #374D3A;
$black-green: #2E2D33;

/* Blue */
$turquoise: #4A9E86;

/* Purple */
$perwinkle: #8997C7;

/* White */
$white: #FFFFFF;
$white-grey: #EDF0F1;
$transparent-white: #ffffff75;

/* Grey */
$light-grey: #D2D4D1;

/* Black */

/* Brown */
$brown: #7A5C55;