@import '../../styles/globals.scss';

.Contact {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 300px;
  
  a {
    border-radius: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .icon {
    font-size: 25px;
  }
  
  #email {
    color: $email-light-red;

    &:hover {
      color: $email-red;
    };
  }

  #linkedin {
    color: $linkedin-light-blue;

    &:hover {
      color: $linkedin-blue;
    };
  }

  #github {
    color: $github-light;
  
    &:hover {
      color: $black;
    };
  }
}


