@import '../../styles/globals.scss';

.Contact {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 300px;
  
  a {
    border-radius: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .icon {
    font-size: 25px;
  }
  
  i {
    color: $github-light;

    &:hover {
      color: $resume-turqoise;
    };
  }
}


