@import '../../styles/globals.scss';

.Header {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  width: 100%;
  letter-spacing: 3px;
  
  .background {
    background-attachment: fixed;
    background-image: url('../../assets/psPic1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .overlay {
    background: $overlay-grey;
    height: 600px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  .information {
    background-color: $overlay-white;
    border: 1px solid $black;
    padding: 5px 0 10px 0;
    width: 545px;
    
    h1, h2 {
      font-family: $abel;
    }

    h1 {
      font-size: 50px;
      margin: 10px 10px 0 10px;
    }
    
    h2 {
      margin: 0;
      letter-spacing: 10px;
    }
    
    p {
      font-family: $open-sans;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      margin: 20px 15px;
    }
  }
}
